# Data Programming

## Problem Set 2
### ID : 200500042

# Question 1

#### Consider the following Python module:
a = 0,

def b():<br>
    global a<br>
    a = c(a)

def c(a):<br>
    return a + 2

#### After importing the module into the interpreter, you execute:
<p>>>> b()<br>
>>> b()<br>
>>> b()<br>
>>> a</p>

#### What value is displayed when the last expression (a) is evaluated? Explain your answer by indicating what happens in every executed statement.

In [56]:
a=0

def b():
    global a
    a=c(a)
    
def c(a):
    return a+2

In [25]:
b()

In [26]:
b()

In [27]:
b()

In [28]:
a

6

# Question 2

#### Function fileLength(), given to you, takes the name of a file as input and returns the length of the file:
<blockquote>>>> fileLength('midterm.py')</blockquote>
<blockquote>284</blockquote>
<blockquote>>>> fileLength('idterm.py')</blockquote>
<blockquote>Traceback (most recent call last):</blockquote>
<blockquote>File "<pyshell#34>", line 1, in <module> </blockquote>
<blockquote> fileLength('idterm.py')</blockquote>
<blockquote>File "/Users/me/midterm.py", line 3, in fileLength</blockquote>
<blockquote> infile = open(filename)</blockquote>
<blockquote>FileNotFoundError: [Errno 2] No such file or directory:</blockquote>
<blockquote>'idterm.py'</blockquote>

#### As shown above, if the file cannot be found by the interpreter or if it cannot be read as a text file, an exception will be raised. Modify function fileLength() so that a friendly message is printed instead:
<code>>>> fileLength('midterm.py')</code>
<code>358</code>
<code>>>> fileLength('idterm.py')</code>
<code>File idterm.py not found.</code>

In [92]:
#https://stackoverflow.com/questions/19508703/how-to-open-a-file-through-python
def fileLength(filename):
    try:
        file = open(filename,'r')
        s = file.read()
        a=len(s)
        print(a)
    except:
        print("File "+ filename+" not found")

In [94]:
>>> fileLength('bloodtype1.txt')

101

In [95]:
>>> fileLength('midterm.py')

File midterm.py not found

In [96]:
>>> fileLength('idterm.py')

File idterm.py not found

# Question 3

#### Write a class named Marsupial that can be used as shown below:

<p>>>> m = Marsupial()<br>
>>> m.put_in_pouch('doll')<br>
>>> m.put_in_pouch('firetruck')<br>
>>> m.put_in_pouch('kitten')<br>
>>> m.pouch_contents()<br>
['doll', 'firetruck', 'kitten']

In [99]:
# https://stackoverflow.com/questions/26031637/pet-class-python
class Marsupial:
    def __init__(self):
        self.s = []
    
    def put_in_pouch(self, word):
        self.s.append(word)
        
    def pouch_contents(self):
        print(self.s)

In [100]:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()

['doll', 'firetruck', 'kitten']

In [130]:
class Kangaroo(Marsupial):
    
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x = x
        self.y = y

    def jump(self,dx,dy):
        self.x = self.x + dx
        self.y = self.y + dy

    def __str__(self):
        return "I am a kangaroo located at coordinates ({} , {})".format(self.x,self.y)

In [131]:
k= Kangaroo(0,0)
print(k)

I am a kangaroo located at coordinates (0 , 0)

In [117]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [118]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k)

I am a kangaroo located at coordinates (3 , 0)

# Question 4

<p>Write function collatz() that takes a positive integer x as input and prints the
Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying
this rule to the previous number x in the sequence:<br><br>
x = {
𝑥/2 𝑖𝑓 𝑥 𝑖𝑠 𝑒𝑣𝑒𝑛<br>
3𝑥 + 1 𝑖𝑓 𝑥 𝑖𝑠 𝑜𝑑𝑑<br><br>
Your function should stop when the sequence gets to number 1. Your
implementation must be recursive, without any loops.

In [124]:
#https://stackoverflow.com/questions/33508034/making-a-collatz-program-automate-the-boring-stuff
def collatz(x):
    print(int(x))
    if x < 0:
        print('Enter postive integer greater than 0')
    elif x == 1:
        return
    elif x%2 != 0:
        x = (3*x)+1
        collatz(x)
    elif x%2 == 0:
        x/=2
        collatz(x)

In [125]:
collatz(1)

1

In [126]:
collatz(10)

10
5
16
8
4
2
1

In [127]:
collatz(-28)

-28
Enter postive integer greater than 0

# Question 5

Write a recursive method binary() that takes a non-negative
integer n and prints the binary representation of integer n.

<p>>>> binary(0)<br>
0<br>
>>> binary(1)<br>
1<br>
>>> binary(3)<br>
11<br>
>>> binary(9),<br>
1001

In [119]:
#https://stackoverflow.com/questions/9371957/recursive-function-that-prints-the-binary-representation-of-the-integer
def binary(number): 
    if number<0: 
        print("Enter postive number")
    elif number == 0: 
        return 0
    else: 
        return (number % 2 + 10 * binary(number // 2))

In [120]:
binary(0)

0

In [121]:
binary(1)

1

In [122]:
binary(3)

11

In [123]:
binary(9)

1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.

<p>>>> infile = open('w3c.html')<br>
>>> content = infile.read()<br>
>>> infile.close()<br>
>>> hp = HeadingParser()<br>
>>> hp.feed(content)<br>
W3C Mission<br>
Principles</p>

In [138]:
from html.parser import HTMLParser  # Imports HTMLParser

class HeadingParser(HTMLParser):
    
    def _init_(self):
        HTMLParser._init_(self)
        self.inHeading = False
        self.indentvar = 0 
        header=['h1','h2']

    def handle_starttag(self, tag, attrs): # Method to handle start tag
        header=['h1','h2']
        if tag in header:                   # If HTML header tag is h1
            self.inHeading=True

    def handle_endtag(self, tag): # Method to handle end tag
        header=['h1','h2']
        if tag not in header:
            self.inHeading=False
            
    def handle_data(self,data):          
        if (self.inHeading and self.indentvar ==0):   
            print(data)
        
        elif (self.inHeading and self.indentvar ==1):
            print(' ',data)

In [139]:
infile = open('w3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

AttributeError: 'HeadingParser' object has no attribute 'inHeading'

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.

# Question 8

Write SQL queries on the below database table that return:

In [57]:
%load_ext sql

In [58]:
%sql sqlite://

#### Creating Table

In [65]:
#https://stackoverflow.com/questions/52365452/sql-create-table-and-data
%%sql
CREATE TABLE Recordtable1
(
  City        varchar(20),
  Country     varchar(20),
  Season      varchar(20),
  Temperature  float,
  Rainfall    float
);

 * sqlite://
Done.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

#### Inserting values

In [66]:
#https://stackoverflow.com/questions/52365452/sql-create-table-and-data
%%sql
INSERT INTO Recordtable1 VALUES('Mumbai', 'India', 'Winter', '24.8', '5.9');
INSERT INTO Recordtable1 VALUES('Mumbai', 'India', 'Spring', '28.4', '16.2');
INSERT INTO Recordtable1 VALUES('Mumbai', 'India', 'Summer', '27.9', '1549.4');
INSERT INTO Recordtable1 VALUES('Mumbai', 'India', 'Fall', '27.6', '346.0');
INSERT INTO Recordtable1 VALUES('London', 'United Kingdon', 'Winter', '4.2', '207.7');
INSERT INTO Recordtable1 VALUES('London', 'United Kingdon', 'Spring', '8.3', '169.6');
INSERT INTO Recordtable1 VALUES('London', 'United Kingdon', 'Summer', '15.7', '157.0');
INSERT INTO Recordtable1 VALUES('London', 'United Kingdon', 'Fall', '10.4', '218.5');
INSERT INTO Recordtable1 VALUES('Cairo', 'Egypt', 'Winter', '13.6', '16.5');
INSERT INTO Recordtable1 VALUES('Cairo', 'Egypt', 'Spring', '20.7', '6.5');
INSERT INTO Recordtable1 VALUES('Cairo', 'Egypt', 'Summer', '27.7', '0.1');
INSERT INTO Recordtable1 VALUES('Cairo', 'Egypt', 'Fall', '22.2', '4.5');

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

ResourceClosedError: This result object does not return rows. It has been closed automatically.

(a) All the temperature data.

In [67]:
%%sql
select * from Recordtable1;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdon', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdon', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

b) All the cities, but without repetition.

In [69]:
%%sql
select DISTINCT City from Recordtable1;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

c) All the records for India

In [70]:
%%sql
select * from Recordtable1 where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

d) All the Fall records.

In [71]:
%%sql
select * from Recordtable1 where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdon', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.

In [98]:
%%sql
select City, Country, Season, AVG(Rainfall) from Recordtable1 where Rainfall between 200 and 400 group by City;

 * sqlite://
Done.

[('London', 'United Kingdon', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.

In [73]:
%%sql
select City, Country, AVG(Temperature) from Recordtable1 where Season='Fall' and Temperature>20 group by City order by Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

g) The total annual rainfall for Cairo.

In [74]:
%%sql
select City, SUM(Rainfall) from Recordtable1 where City='Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

h) The total rainfall for each season.

In [75]:
%%sql
select Season, SUM(Rainfall) from Recordtable1 group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

<p>Suppose list words is defined as follows:<br><br>
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']<br><br>
Write list comprehension expressions that use list words and generate the following
lists:</p>

<p>a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']<br>

In [42]:
#https://stackoverflow.com/questions/9257094/how-to-change-a-string-into-uppercase
#https://stackoverflow.com/questions/51861577/python-list-function-or-list-comprehension/51861670
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[i.upper() for i in words]

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

<p>b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']<br>

In [43]:
#https://stackoverflow.com/questions/6797984/how-do-i-lowercase-a-string-in-python
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[i.lower() for i in words]

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

<p>c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).<br>

In [44]:
#https://stackoverflow.com/questions/25934586/finding-the-amount-of-characters-of-all-words-in-a-list-in-python
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[len(i) for i in words]

[3, 5, 5, 3, 5, 4, 3, 4, 3]

<p>d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]]<br>

In [49]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
print([[i.upper(), i.lower(), len(i)] for i in words])

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

<p>e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']<br>

In [54]:
#https://pythonguides.com/python-list-comprehension-using-if-else/
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[i for i in words if len(i)>=4]

['quick', 'brown', 'jumps', 'over', 'lazy']